h1{
	background-color: black;
	color: white;
	text-align: center;
	height: 55px;
}
.box{
	margin:0px 50px 0px 50px;
}
p{
	font-weight: bold;
}
.tick{
	margin-left: 250px;
}
.submit{
	margin-bottom: 50px;
}
/*.tabl{
	margin: 0px 50px 0px 250px;


}*/

@media (min-width: 992px) {
	.tabl{
	/*margin: 0px 50px 0px 250px;*/
	margin-left: auto;
	margin-right: auto;
}